.footer {
  background-color: $footer-bg;
  color: $color-white;
  padding-bottom: $section-padding;
  padding-top: $section-padding;


  h3
  ,.menu-item-has-children > .nav-link{

    color: $color-white;
    text-transform: uppercase;
    font-size: $footer-text-size;
    margin-top: 0;
    margin-bottom: $elements-gap/1.5;
    display: block;
    font-weight: 600;
    @include media-breakpoint-down(xs) {
      margin-top: $elements-gap/4;
      margin-bottom: $elements-gap/2;
    }
  }

  .menu-item-has-children{
    margin-bottom: $elements-gap/1.5;
  }

  ul
  , .sub-menu{
    font-size: $footer-text-size;
    list-style: none;
    //margin-bottom: $footer-text-size;
    margin-bottom: $section-padding;
    padding-left: 0;
    &>li {
      margin-bottom: $base-size/2;
      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }
      a {
        color: $color-white;
        &:hover,
        &:focus {
          color: $active-link-color;
          text-decoration: none;
        }
      }
    }
  }
  .footer-promx-col {
    h3 {
      text-transform: none;
    }
    p {
      font-size: $footer-text-size;
    }
    ul {
      text-transform: uppercase;
    }
    .btn {
      //border-radius: 8px;
      margin-top: $elements-gap/1.5;
      margin-bottom: $section-padding;
      //padding-left: 1em;
      //padding-right: 1em;
      border-width: 1px;
    }

  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;

    a{
      color: $color-white;
      text-decoration: none;

      &:hover{
        color: $color-white;
        text-decoration: none;
      }
    }

  }
}