.contact-section {
  .relative {
    z-index: 1;
  }
}
.contact-map {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;

  @include media-breakpoint-down(sm) {
    position: static;
  }
}

#mapWrap {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding-top: 17.5%;

  @include media-breakpoint-down(sm) {
    padding-top: 31.5%;
  }
  @include media-breakpoint-only(md) {
    padding-top: 31.5%;
  }


  #map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}