.navbar-promx {
  border: medium none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 9px;
  padding-top: 20px;
  @include media-breakpoint-down(xs) {
    display: flex;
    padding-top: 0px;
    margin-bottom: 0px;
    min-height: 100px;
  }
  @include media-breakpoint-only(sm) {
    padding-top: 0;
  }
  .navbar-header {
    display: flex;
    align-items: center;
    flex: 1 1 165px;

    @include media-breakpoint-down(xs) {
      flex: 0 0 200px;
    }

    @include media-breakpoint-up(md) {
      min-width: 165px;
    }

    @include media-breakpoint-only(sm) {
      position: absolute;
      top: -50px;
      left: 0;
    }


  }

  .top-nav-menu{

    @include media-breakpoint-down(xs) {
      /*position: relative;*/
      display: flex;
      flex-grow: 1;
    }

  }


  .navbar-brand {
    height: auto;
    padding: 0;
    @include media-breakpoint-down(xs) {
      margin-right: 35px;
    }
    & img {
      width: 165px;
      @include media-breakpoint-down(xs) {
        /*width: 72px;*/
      }
      @include media-breakpoint-only(sm) {
        width: 116px;
      }
    }
  }
  .navbar-toggle {
    float: left;
    margin-top: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(xs) {
      margin-right: 0px;
    }


    .icon-bar {
      background-color: $color-black;
      width: 36px;
      height: 1px;
      transition: all 0.2s;

      &+.icon-bar {
        margin-top: 6px;
      }

    }

    .icon-bar-outer{
      display: block;
      position: relative;
      width: 25px;
      float: left;
    }


    .toggler-text{
      display: none;
    }

    &.status-closer {
      background-color: $color-light-grey;


      .icon-bar {
        width: 25px;
        transition: all 0.6s;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      .toggler-text{
        display: flex;
      }

    }



  }
  .navbar-collapse {
    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar-nav {
    margin-top: 13px;
    @include media-breakpoint-up(sm) {
      float: right;
    }

    /*&.mobile-hidden{
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }*/

    &.animateMobileMenu{
      @include media-breakpoint-down(xs) {
        top: 100%;
        left: 200px;
        opacity: 1;
        transition: left .6s, opacity 0.6s;
      }
    }

    @include media-breakpoint-down(xs) {

      display: block;
      position: absolute;
      background-color: $color-light-grey;
      top: 100%;
      transition: left .6s, opacity 0.6s;;
      z-index: 5;
      left: 300%;
      /*width: calc(100% - 200px);*/
      width: calc(110% - 200px + 15px);
      margin: 0;
      opacity: 0;
    }

    .menu-item-has-children{

      @include media-breakpoint-down(xs) {

        .nav-link:after{
          font-family: FontAwesome;
          content: "\f105";
          font-size: 16px;
          margin-left: 5px;
          display: inline-flex;
        }

      }

    }


    .dropdown-submenu{

      @include media-breakpoint-down(xs) {
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover{

          .dropdown-menu{

            display: flex;
            flex-direction: column;
            position: relative;
            background-color: $color-light-grey;
            color: $color-black;


            &.dropdown-menu-level-0{
              border: 0;
              box-shadow: none;
            }

            &.dropdown-menu-level-1{

            }

            &.dropdown-menu-level-2{

            }

          }

        }

      }

    }

    &>li {
      &.active {
        &>.nav-link {
          color: $active-link-color;
        }
      }
      @include media-breakpoint-up(sm) {
        &:first-child {
          .nav-link:not(.dropdown-item) {
            padding-left: 0;
          }
        }
      }
      &>.nav-link {
        color: $menu-color;
        font-family: $main-menu-font;
        font-size: $main-menu-font-size;
        text-transform: uppercase;
        line-height: 22px;
        position: relative;
        display: block;
        cursor: pointer;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-left: 8px;
        padding-right: 8px;

        &:hover,
        &:focus {
          background-color: transparent;
          color: $active-link-color;

        }
        @include media-breakpoint-down(md) {
          font-size: 13px;
          padding: 16px 6px;
        }
        @include media-breakpoint-down(xs) {
          padding: 16px 16px;
        }
        @include media-breakpoint-only(sm) {
          font-size: 12px;
          padding: 8px 6px;
        }
        @include media-breakpoint-only(lg) {
          font-size: 16px;
          padding: 16px 6px;
        }
      }
    }
  }
}

.dropdown-menu>li>.dropdown-item{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: $primary-color;
  white-space: nowrap;
  cursor: pointer;

  &:hover
  ,&:focus{
    text-decoration: none;
    color: $color-white ;
    background-color: $secondary-color;

  }

}

.right-menu {
  min-width: 91px;
  padding-top: 28px;
  display: flex;
  justify-content: flex-end;


  @include media-breakpoint-down(xs) {
    padding-top: 0;
    align-items: center;
  }
  @include media-breakpoint-only(sm) {
   /* padding-top: 16px;*/
  }


  .sprite-icon{
    background: url($sprite-icons-image) no-repeat;
    display: flex;
    margin: 0 4px;

    @include media-breakpoint-down(xs) {
      margin: 0 0 0 20px;
    }

  }

  .contact-us-icon{
    background-position: 0 -75.5px;
    width: 25px;
    height: 17px;

    &:hover{
      background-position: 0 -96px;
      text-decoration: none;
    }

  }

  .support-icon{
    background-position: -34px -75px;
    width: 15px;
    height: 17px;

    &:hover{
      background-position: -34px -96px;
      text-decoration: none;
    }
  }

  & button.btn
  ,& .header-menu-icon.btn{
    //background: white;
    //font-size: 32px;
    //padding: 0 4px;
    @include media-breakpoint-down(lg) {
      //font-size: 24px;
    }

    &:hover,
    &:focus {
      //color: $active-link-color;
    }
  }

  & .header-menu-icon.btn{
    //color: inherit;
  }

}

