.subscribe {
  .entry-title {
    color: $color-white;
    font-family: $bold-font;
    font-size: $base-size * 2;
    margin-bottom: $base-size * 1.5;
  }
  .subscribe-text {
    color: $color-white;
    font-size: $base-size * 1.5;
    line-height: 1.1;
    margin-bottom: 0;
    @include media-breakpoint-only(xs) {
      font-size: $base-size;
      margin-bottom: $base-size;
    }
  }
  .form-group {
    @include media-breakpoint-only(xs) {
      margin-bottom: 0;
    }
    @include media-breakpoint-only(sm) {
      margin-top: $base-size * 1.5;
    }
    @include media-breakpoint-up(lg) {
      padding-top: $section-padding;
      margin-bottom: 0;
    }
    & div:first-child {
      @include media-breakpoint-only(xs) {
        margin-bottom: $base-size;
      }
    }

    &.subscribe-parent{
      padding-left: $base-size;
      @include media-breakpoint-up(lg) {
        padding-top: 0;

      }

      @include media-breakpoint-down(sm) {
        margin-top: 0;

      }

      @include media-breakpoint-down(xs) {
        padding-left: 0;

      }

      &.subscribe-parent-button{

        @include media-breakpoint-down(md) {
          padding-left: 0;

        }

      }
    }

  }

  .subscribe-blog{

    .subscribe-privacy-policy{

      @include media-breakpoint-down(md) {
        display: flex;
        order: 1;
      }

      .js-radio-group{
        @include media-breakpoint-down(xs) {
          padding-left: 0;
          margin-bottom: 0;
        }
      }

      .promx-radio{

        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }

      }

    }

  }


  .form-control {
    padding-left: 0;
    &:focus {
      padding-left: 1em;
    }
  }

  .button-div-outer{

    @include media-breakpoint-down(md) {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

  }

  .button-div {
    @include media-breakpoint-only(xs) {
      text-align: center;
      margin-top: $base-size *2;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: $base-size *2;
    }
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      order: 2;
    }
    @include media-breakpoint-only(md) {
      text-align: center;
      margin-top: $base-size *2;
    }
  }
}

.subscribe-sidebar{

  @extend .subscribe;


  .form-control{
    border: 1px solid $border-frame-color;
    color: $color-black-text-3;
    margin-bottom: $base-size;
    padding-left: $base-gap;

    &:focus {
      padding-left: $base-gap*1.5;
    }

  }

  .form-group {
    @include media-breakpoint-only(xs) {
      margin-bottom: 0;
    }
    @include media-breakpoint-only(sm) {
      margin-top: 0;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      margin-bottom: 0;
    }
    & div:first-child {
      @include media-breakpoint-only(xs) {
        margin-bottom: 0;
      }
    }
  }

  .form-horizontal{
    width: 80%;
    margin: auto;
  }

  .button-div{
    margin-top: $form-base-size;
    text-align: right;
    margin-bottom: $base-gap * 2;
  }

  // Placeholders
  ::-webkit-input-placeholder,
  .form-control::-webkit-input-placeholder {
    color: $color-black-text-3;
  }

  :-moz-placeholder,
  .form-control:-moz-placeholder {
    color: $color-black-text-3;
  }

  ::-moz-placeholder,
  .form-control::-moz-placeholder {
    color: $color-black-text-3;
  }

  :-ms-input-placeholder,
  .form-control:-ms-input-placeholder {
    color: $color-black-text-3;
  }

}