.gantt-project {
  .howToUse_article {
    header {
      margin-top: $base-size;
    }

    .howToUse_article_right {

      font-family: $light-font;
      .how-use-subtitle {
        color: inherit;
        font-family: $light-font;
        font-size: $H1-size;
        margin-top: $elements-gap;
      }
    }
  }
}