.nav-holder {
  border-top: solid lightgrey 1px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 11px;
  padding-bottom: 11px;

  .lang-box{
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
  }

  .flag-uk {
    min-height: 23px;
    min-width: 28px;
    margin: -6px 0px 0px -5px;
  }

  .lang-flag{

    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 16px;
    margin-bottom: 4px;
    background: url($sprite-icons-image) no-repeat;
    //margin: -6px 0px 0px -5px;


    &.flag-de{
      background-position: -151px -48px;
    }

    &.flag-en{
      background-position:  -120px -48px;
    }
  }

  .lang-code{
    font-size: 16px;
  }

  .lang-switcher{
    height: 0px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;

    &.lang-shown{
      height: 60px;
      z-index: 1;
    }

  }

  .lang-other{
    position: absolute;
    top: 31px;
    left: 0;

    z-index: 2;
    background-color: $color-white;

    .lang-other-inner{
      padding-top: 6px;
      border-top: 1px solid lightgrey;
    }

  }

  .language-switcher-link{
    color: $color-black;
    text-decoration: none;
    &:hover,
    &:focus {
      //color: $active-link-color;
      text-decoration: none;
    }
  }

  .header-lang {
    border-right: solid lightgrey 1px;
    padding-right: 20px;
    margin: 8px 18px;
    flex: 0 1 90px;
    position: relative;
  }




}